@model TraversalCoreProject.Areas.Member.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h3>Profil Düzenleme Alanı</h3>
<form asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfrimPassword"></label>
        <input asp-for="ConfrimPassword" class="form-control" />
        <span asp-validation-for="ConfrimPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input type="file" asp-for="Image" class="form-control-file" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <!-- Mevcut profil resmi -->
    @if (!string.IsNullOrEmpty(Model.ImageURL))
    {
        <div class="form-group">
            <img src="@Model.ImageURL" alt="Profil Resmi" width="150" height="150" />
        </div>
    }
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

