@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@{
    var currentUser = await UserManager.GetUserAsync(User);
    var profileImage = string.IsNullOrEmpty(currentUser.ImageURL)
        ? "/UserImages/defaultPhoto.jpg"
        : currentUser.ImageURL;
}
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
               @*  <div class="input-group">
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Type here...">
                </div> *@
            </div>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item d-flex align-items-center">
                    <a href="/Member/Profile/Index/" class="nav-link text-body font-weight-bold px-0 d-flex align-items-center">
                        <img src="@profileImage" class="rounded-circle me-2" style="width:35px; height:35px; object-fit:cover;">
                        <span class="bg-dark text-white px-2 py-1 rounded">@currentUser.Name @currentUser.Surname</span>
                    </a>
                </li>
                <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </a>
                </li>
                <li class="nav-item px-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-body p-0">
                        <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
